body {
    background-color:#1e1e1e;
  }

.header {
    background-color: #28a8e0;
    color:aliceblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
.cart,.menu{
    color:aliceblue;
    font-size:25px;
}